{% extends 'dashboard/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dashboard.compte.change.css') }}"/>
{% endblock %}

{% block body %}
<main>
    <section class="box">
        <header>
            <h2>Changer le mot de passe</h2>
        </header>
        <div class="content">
            <div class="info-box warning">
                <i class="fas fa-exclamation-triangle"></i>
                <div class="desc">
                    <p>Vous allez être déconnecter une fois que le mot de passe sera changé</p>
                </div>
            </div>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                {% if form_errors(form) %}
                <div class="info-box danger">
                    <i class="fas fa-exclamation-triangle"></i>
                    <div class="desc">
                        <p>{{ form_errors(form) }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="form-group">
                    <label for="passwordAct">
                       {{ form_label(form.passwordAct) }}
                    </label>
                    {{ form_widget(form.passwordAct) }}
                </div>

                <div class="form-group">
                    <label for="newpassword">
                        {{ form_label(form.newPassword) }}
                    </label>
                    {{ form_widget(form.newPassword) }}
                </div>

                <div class="form-group">
                    <label for="reptPassword">
                        {{ form_label(form.repeatPassword) }}
                    </label>
                        {{ form_widget(form.repeatPassword) }}
                </div>

                <div class="form-group">
                    <button>Je valide</button>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
</main>
{% endblock %}